// Colores
$primary: #f0060b;
$secondary: #cc26d5;
$accent: #7702ff;
$gray-900: #23272f;
$gray-700: #5a5a5a;
$gray-400: #bdbdbd;

// Tipografía
$font-main: 'Inter', Arial, sans-serif;

// Breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 1200px; 