@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/utilities' as *;

.testimonial-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.testimonial {
  background: $gray-400;
  color: $gray-900;
  border-radius: 1rem;
  padding: 1.5rem;
  max-width: 320px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  blockquote {
    font-style: italic;
    margin-bottom: 1rem;
  }
  .author {
    font-weight: bold;
    color: $primary;
    text-align: right;
  }
}
